/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 64px 16px;
  gap: 32px;
}

.container__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.frame{
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.container__text-p {
  text-align: center;
}

.frame--hidden{
  display: none;
}

.button__view-all-recipes {
  background-color: transparent;
  border: none;  
}

.view-all-recipes__h3 {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.container__content {
  width: min-content;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.content__image-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.front-image {
  width: clamp(304px, 0.8106666666666667vw, 800px);
  height: clamp(304px, 0.8106666666666667vw, 800px);
  border-radius: 337.78px;
}

.front-image-div {
  position: relative;
}

.front-image-div__top-left-corner {
  position: absolute;
  height: 135.11px;
  width: 135.11px;
  left: -57.23px;
  top: -20.40px;
  background-image: url("images/30a9edcdefcf961a7007b00f86cb431c286b8059.png");
  z-index: 2;
}

.background-image-div {
   /* width: 226.02px;
  height: 213.69px;
    /* Combine transforms into a single transform property */
  /* transform: scaleX(-1) translate(-54.75px, 192.13px); */
  /* Position it absolutely within the top-left-corner container */
  /* position: absolute; */
}

.background-image-topleft {
 
  z-index: -1;
 
}

.background-image-topright {
  position: absolute;
  top: 638px;
  right: 0px;
  z-index: -2;
}

.background-image-bottomleft {
  position: absolute;
  bottom: 618px;
  left: 0px;
}

.background-image-bottomright {
  position: absolute;
  bottom: 200px;
  right: 0px;
}

.cocktail-name {
  text-align: center;
}